In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-11-29 02:59:07,-24.8667,113.6333,84.27,58,0,20.71
1,1,Hithadhoo,MV,2021-11-29 02:59:08,-0.6000,73.0833,81.79,75,39,17.78
2,2,Albany,US,2021-11-29 02:58:19,42.6001,-73.9662,27.21,96,92,1.59
3,3,Pangai,TO,2021-11-29 02:59:08,-19.8000,-174.3500,82.51,54,20,18.41
4,4,Kapaa,US,2021-11-29 02:59:09,22.0752,-159.3190,80.58,72,84,16.08

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-11-29 02:59:07,-24.8667,113.6333,84.27,58,0,20.71
1,1,Hithadhoo,MV,2021-11-29 02:59:08,-0.6000,73.0833,81.79,75,39,17.78
3,3,Pangai,TO,2021-11-29 02:59:08,-19.8000,-174.3500,82.51,54,20,18.41
4,4,Kapaa,US,2021-11-29 02:59:09,22.0752,-159.3190,80.58,72,84,16.08
13,13,Kavieng,PG,2021-11-29 02:59:12,-2.5744,150.7967,83.73,74,98,9.15
17,17,Avarua,CK,2021-11-29 02:59:14,-21.2078,-159.7750,78.85,57,21,9.22
18,18,Labuhan,ID,2021-11-29 02:59:14,-6.8844,112.2051,76.78,84,100,7.34
22,22,Faanui,PF,2021-11-29 02:59:16,-16.4833,-151.7500,80.49,74,90,5.21
24,24,Yangjiang,CN,2021-11-29 02:59:17,21.8500,111.9667,75.11,45,30,8.23
38,38,Maragogi,BR,2021-11-29 02:59:22,-9.0122,-35.2225,78.37,86,70,7.83

In [30]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0   Carnarvon      AU     84.27 -24.8667  113.6333
1   Hithadhoo      MV     81.79  -0.6000   73.0833
3      Pangai      TO     82.51 -19.8000 -174.3500
4       Kapaa      US     80.58  22.0752 -159.3190
13    Kavieng      PG     83.73  -2.5744  150.7967
17     Avarua      CK     78.85 -21.2078 -159.7750
18    Labuhan      ID     76.78  -6.8844  112.2051
22     Faanui      PF     80.49 -16.4833 -151.7500
24  Yangjiang      CN     75.11  21.8500  111.9667
38   Maragogi      BR     78.37  -9.0122  -35.2225

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carnarvon,AU,84.27,-24.8667,113.6333,Hospitality Carnarvon
1,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
3,Pangai,TO,82.51,-19.8000,-174.3500,Ha'apai Beach Resort
4,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Kavieng,PG,83.73,-2.5744,150.7967,Nusa Island Retreat
17,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
18,Labuhan,ID,76.78,-6.8844,112.2051,PT PPI Lamongan Tambak C
22,Faanui,PF,80.49,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
24,Yangjiang,CN,75.11,21.8500,111.9667,HUALUXE Yangjiang City Center
38,Maragogi,BR,78.37,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))